html, body{
  padding: 0;
  margin: 0;
}

header{
  padding: 25px 0px 0px 0px;
  margin: 0;
  display: flex;
  background-color: none;
}

.keep{
  margin: auto;
  display: inline;
}
header span{
  font-size: 6vw;
  font-family: "Raleway", Helvetica, Sans-serif;
  font-weight: 200;
}

.name-one{
  margin: auto 0 auto auto;
}

.name-two{
  margin: auto 0;
  display: none;
}

.name-three{
  margin: auto 0;
}

.name-four{
  margin: auto auto auto 0;
  display: none;
}


.arrow{
  background-color: none;
  width: 80%;
  margin: 0 auto;
  display: flex;
}

.one{
  width: 48%;
  height: 1px;
  margin: auto;
  background-color: #555;
}

.x{
  width: 4%;
  margin: auto;
  background-color: none;
  text-align: center;
  font-size: 2vw;
}

menu{
  background-color: none;
  padding: 0;
  width: 60%;
  margin: 10px auto 10px auto;


}

menu ul{
  list-style-type: none;
  background-color: none;
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
}

menu ul li{
  display: inline;
  margin: 0 auto 0 auto;
  font-family: "Cormorant Garamond", Helvetica, sans-serif;
  font-size: 2.5vw;
  width:20%;
  background-color: none;
  text-align: center;
  padding: 10px 15px;
  border-bottom: 1px solid #fff;
  transition: border-bottom ease-in-out 500ms;
}

menu ul li:hover{
  border-bottom: 1px black solid;
}

.mast{
  height: 50vh;
  width: 80%;
  margin: 15px auto 10px auto;
  background: url('field.jpg') no-repeat center center fixed;
	background-size: cover;
  display: flex;
}

.mast h1{
  font-family: "Raleway", Helvetica, Sans-serif;
  font-size: 50px;
  color: #fff;
  text-align: center;
  background-color: none;
  margin: auto;
  padding: 20px;

}

.divide{
  height: 800px;
}

.yer{
  background: url('https://c1.staticflickr.com/9/8647/15339182944_a317148102_b.jpg') no-repeat center center fixed;
  background-size: cover;
}
